@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css or App.module.css */
.typing-animation p {
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  animation: typing 12s steps(120) 1s forwards,
    blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.hidden {
  display: none;
}
